<form #frm="ngForm">
  <pre>{{ frm.submitted }}</pre>
  <div>
    <label>name</label>
    <input type="text" name="name" #name="ngModel"  ngModel required minlength="3">
    <small *ngIf="!name.valid && !name.pristine">
      this is required
    </small>
  </div>
  <div ngModelGroup="address">
    <p>address</p>
    <div>
        <label>line</label>
        <input type="text" name="line" ngModel>
    </div>
    <div>
        <label>postcode</label>
        <input type="text" #code="ngModel" name="postcode" ngModel 
          minlength="3" maxlength="5">
        <small *ngIf="!code.valid">
            wrong input
          </small>
    </div>
  </div>

  <button type="submit" (click)="submit(frm.valid, frm.value)">Submit</button>

  <!-- for development purpose -->
  <pre>
    {{ frm.valid }}
    {{ frm.value | json }}
  </pre>
</form>



